* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, SansSerif;
  font-size: 1.6rem;
}

.container {
  min-width: 350px;
  max-width: 1440px;
  padding: 1rem;
  margin: 0 auto;
}